<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Birdera</title>
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Birdera</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/birdgallery">Bird Gallery <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/exotic">Exotic Birds<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Predict<span class="sr-only">(current)</span></a>
                </li>

    </nav>
    <!-- blog -->

    <div class="container my-2" action='/birdgallery'>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-2">
                <h2 class="featurette-heading">Atlantic-puffin<span class="text-muted"></span></h2>
                <p class="lead">Atlantic puffin is a small, well-adapted seabird that found across the coast of Northern United States and Eastern Canada. Atlantic puffins are also known as ‘sea parrot’ due to their huge, multi-colored bill and penguin-like coloration.
                    Atlantic puffins spend most of their lives on sea. Their water-resistant feathers keep their body warm while swimming. They flap their wings to swim on the surface and underwater.</p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/atlantic-puffin.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-6">
                <h2 class="featurette-heading">Blue-Jay<span class="text-muted"></span></h2>
                <p class="lead">Blue jays are one of the most intelligent and beautiful birds in the world. They found across forests of Eastern and Central North America. The blue jays have stunning blue, white and black plumage. The most distinguishing feature of this
                    songbird is its noisy ‘jay jay’ like calls. They can also imitate the call of other species of birds.Besides the striking appearance, blue jays are famous for their intelligence. They may steal nestlings and eggs of other birds. Blue
                    jays also mimic the voice of hawks to deceive other birds. </p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/blue-jay.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-6">
                <h2 class="featurette-heading">Bohemian-Waxwing<span class="text-muted"></span></h2>
                <p class="lead">Bohemian waxwing is a medium-sized songbird with distinctive crested head and black masks. They are brownish-grey overall and wings have white and yellow edging. Thus, Bohemian Waxwing is among the most beautiful passerine birds in the
                    world.Bohemian waxwings inhabit in boreal forest across North America and Eurasia, mostly in Canada and Alaska. In winter, they migrate in large flocks to the Northwest parts of the United States.
                </p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/bohemian-waxwing.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-4">
                <h2 class="featurette-heading">Flamingo<span class="text-muted"></span></h2>
                <p class="lead">Flamingo is probably the most recognizable wading bird in the world. The stunning red-purple colored plumage itself make flamingo so special among birds. There are 6 different species of Flamingos in the world. They found on every continent
                    except Antarctica. An adult flamingo measure 4-5 feet in length and up to 3.6 kg in weight.Flamingos live in large colonies that include thousands of members. Their striking red-purple color is due to the food they eat. Their diet
                    mainly consists of brine shrimp, plankton, and blue-green algae
                </p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/flamigo.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-2">
                <h2 class="featurette-heading">Golden-Pheasant<span class="text-muted"></span></h2>
                <p class="lead">Golden pheasants are famous for their brilliant colored plumage. They have a beautiful golden-yellow crest tipped with red. Their underpart is bright red and face. Sides and throat are rusty tan. The wattle of golden pheasant is yellow
                    and its upper back is green. They also have dark, red shoulder feathers and a long pale brown tail.

                </p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/golden-pheasant.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-4">
                <h2 class="featurette-heading">Keel-Billed-Toucan<span class="text-muted"></span></h2>
                <p class="lead">Keel-billed toucan is among the birds with most amazing bills in the world. They have huge, multi-colored beak that will reach up to 20 cm in length. Due to their colorful bill, keel-billed toucan is also known as rainbow-billed toucan.
                    Their beak is a mixture of green, red and yellow colors. In spite of heavy appearance, beak of the keel-billed toucan is hollow and light. It is made up of one type of proteins called keratin. They use this large, colorful beak to
                    attract female during the breeding season and also as a defensive weapon.</p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/keel-billed-toucan.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-2">
                <h2 class="featurette-heading">Peacock<span class="text-muted"></span></h2>
                <p class="lead">Peacock is actually the name of male bird of peafowl family. There are three types of peafowls in the world – Indian, Congo and green peafowl. The Indian peafowls are the most common type of peafowls found around the world. Peacocks (male
                    birds) are renowned for their colorful display of iridescent tail feathers. The colorful tail feather display of peacocks is probably the most beautiful courtship display among bird family.</p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/peacock.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-4">
            <div class="col-md-9 order-md-2 my-4">
                <h2 class="featurette-heading">Scarlet macaw<span class="text-muted"></span></h2>
                <p class="lead">Scarlet macaw is one of the most beautiful and largest member of macaw family. They inhabit in humid evergreen forests across Central and South America. They are famous for their colorful plumage. They have bright red plumage with a blue
                    back. Their upper wings are yellow and edged with green color. The strong, curved beak is another noticeable feature of a scarlet macaw. Its upper part is white and the tip is black. An adult scarlet macaw has a length between 80-90
                    cm and weighs up to 1.5 kg. </p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/scarlet-macaw.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

    </div>


    </div>

</body>