<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Birdera</title>
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Birdera</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/birdgallery">Bird Gallery <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/exotic">Exotic Birds<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Predict<span class="sr-only">(current)</span></a>
                </li>

    </nav>
    <!-- blog -->

    <div class="container my-2" action='/exotic'>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-2">
                <h2 class="featurette-heading">Indigo Macaw<span class="text-muted"></span></h2>
                <p class="lead">
                    The Lear's Macaw,also known as the Indigo Macaw, is a large, all blue Brazilian parrot that is a member of a large group of Neotropical parrots known as macaws. It was first described by Charles Lucien Bonaparte in 1856. The Lear's Macaw is 70–75 cm.
                    (28–30 in.) long and weighs around 950 g. (2.1 lb.). It is metallic blue with a faint, often barely visible tinge of green, and a yellow patch of skin at the base of the heavy, black bill. This macaw is rare with a highly restricted
                    range.
                </p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/macaw.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-4">
                <h2 class="featurette-heading">Quetzal<span class="text-muted"></span></h2>
                <p class="lead">
                    The resplendent quetzal is an aptly named bird that many consider among the world's most beautiful. These vibrantly colored animals live in the mountainous, tropical forests of Central America where they eat fruit, insects, lizards, and other small creatures.
                    Unfortunately, these striking birds are threatened in Guatemala and elsewhere.
                </p>
            </div>
            <div class="col-md-3 order-md-1 my-4">
                <img src="/static/questil.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-6">
                <h2 class="featurette-heading">African Crowned Crane <span class="text-muted"></span></h2>
                <p class="lead">
                    The Grey Crowned Crane is a bird in the crane family Gruidae. It inhabits the dry African savannah south of the Sahara, although it nests in somewhat wetter habitats. They can also be found in marshes, cultivated areas and grassy flatlands near rivers
                    and lakes from eastern Uganda and Kenya to South Africa. This animal does not migrate. There are two subspecies. The East African B. r. gibbericeps (Crested Crane) can be found from the eastern Democratic Republic of the Congo through
                    Uganda, where it is the national bird, and from Kenya to eastern South Africa
                </p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/crownedcrane.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 order-md-2 my-4">
                <h2 class="featurette-heading">The Rainbow Lorikeet<span class="text-muted"></span></h2>
                <p class="lead">
                    The Rainbow Lorikeet, is a species of Australasian parrot found in Australia, eastern Indonesia (Maluku and Western New Guinea), Papua New Guinea, New Caledonia, the Solomon Islands and Vanuatu. In Australia, it is common along the eastern seaboard, from
                    Queensland to South Australia and northwest Tasmania. Its habitat is rainforest, coastal bush and woodland areas. Several taxa traditionally listed as subspecies of the Rainbow Lorikeet are increasingly treated as separate species.
                </p>
            </div>
            <div class="col-md-3 order-md-1 my-5">
                <img src="/static/rainbow.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-3">
            <div class="col-md-9 my-2">
                <h2 class="featurette-heading">Golden-Pheasant<span class="text-muted"></span></h2>
                <p class="lead">Golden pheasants are famous for their brilliant colored plumage. They have a beautiful golden-yellow crest tipped with red. Their underpart is bright red and face. Sides and throat are rusty tan. The wattle of golden pheasant is yellow
                    and its upper back is green. They also have dark, red shoulder feathers and a long pale brown tail.

                </p>
            </div>
            <div class="col-md-3 my-2">
                <img src="/static/pheasant1.jfif" width="200" height="200" class="d-block w-100" alt="...">
            </div>
        </div>



    </div>


    </div>

</body>